body{
    /* min-height: 180px; */
    margin: 0px;
    padding: 5px;
    /* width: 375px; */
    /* height: 250px; */
    min-width: 375px;
    background-color: #eeeeee;
    border-style: solid;
}

.title{
    /* font-family: 'Bitter'; */
    font-family: 'Graduate';
    font-weight: bold;
    /* color: #015668; */
    color: #2d4059;
    font-size: xx-large;
}

.platform, .colon{
    font-family: Graduate;
    font-weight: bold;
}

.score{
    /* font-weight: 500; */
    font-family: 'Graduate';
}